In [1]:
import pandas as pd
import numpy as np

In [2]:
x=['Name', 'Age', 'Degree']
y=['Noora', 21, 'BE']

In [3]:
a1=pd.Series(data=y,index=x)

In [4]:
a1

Name      Noora
Age          21
Degree       BE
dtype: object

In [5]:
a1.values

array(['Noora', 21, 'BE'], dtype=object)

In [6]:
a1[0]

'Noora'

In [7]:
a1[:3]

Name      Noora
Age          21
Degree       BE
dtype: object

In [8]:
a1[:2]

Name    Noora
Age        21
dtype: object

In [9]:
pd.Series([1,2,3,4,5,6]).array

<PandasArray>
[1, 2, 3, 4, 5, 6]
Length: 6, dtype: int64

In [10]:
{i:j for i,j in zip(x,y)}

{'Name': 'Noora', 'Age': 21, 'Degree': 'BE'}

In [11]:
pd.Series([2,4,6,8]).values

array([2, 4, 6, 8], dtype=int64)

In [12]:
ab=pd.Series([1,2,3,4,5,6,7,8])

In [13]:
ab

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [14]:
ab.astype('int64')

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [15]:
cd=pd.Series(index=['Name','USN','College'], data=['Sana','4GL18CS028', 'GECK'])

In [16]:
cd

Name             Sana
USN        4GL18CS028
College          GECK
dtype: object

In [17]:
cd.loc['USN']

'4GL18CS028'

In [18]:
ef=pd.Series([i for i in range(7)], index=[8,4,7,9,1,3,5])

In [19]:
ef.sort_values(ascending=False)

5    6
3    5
1    4
9    3
7    2
4    1
8    0
dtype: int64

In [20]:
ef.sort_index(inplace=True)

In [21]:
ef

1    4
3    5
4    1
5    6
7    2
8    0
9    3
dtype: int64

In [22]:
gh=pd.Series([i for i in range(150)])

In [23]:
gh

0        0
1        1
2        2
3        3
4        4
      ...
145    145
146    146
147    147
148    148
149    149
Length: 150, dtype: int64

In [24]:
gh=pd.Series(["element_"+str(i) for i in range(150)])

In [25]:
gh

0        element_0
1        element_1
2        element_2
3        element_3
4        element_4
          ...
145    element_145
146    element_146
147    element_147
148    element_148
149    element_149
Length: 150, dtype: object

In [26]:
gh.loc[4:15]

4      element_4
5      element_5
6      element_6
7      element_7
8      element_8
9      element_9
10    element_10
11    element_11
12    element_12
13    element_13
14    element_14
15    element_15
dtype: object

In [27]:
gh[50]

'element_50'

In [28]:
ef

1    4
3    5
4    1
5    6
7    2
8    0
9    3
dtype: int64

In [29]:
ef*6

1    24
3    30
4     6
5    36
7    12
8     0
9    18
dtype: int64

In [30]:
ijkl=[round(i) for i in np.random.random(12)*25]

In [31]:
ijkl=pd.Series(ijkl)

In [32]:
ijkl>12

0      True
1     False
2     False
3     False
4     False
5      True
6      True
7     False
8     False
9      True
10     True
11     True
dtype: bool

In [33]:
moon=ijkl>12

In [34]:
ijkl[moon]

0     19
5     13
6     21
9     19
10    15
11    19
dtype: int64

In [35]:
m=pd.Series([4,5,6,7,8])

In [36]:
n=pd.Series([1,2,3,4,5,6])

In [37]:
m+n

0     5.0
1     7.0
2     9.0
3    11.0
4    13.0
5     NaN
dtype: float64

In [38]:
m-n

0    3.0
1    3.0
2    3.0
3    3.0
4    3.0
5    NaN
dtype: float64

In [39]:
m*n

0     4.0
1    10.0
2    18.0
3    28.0
4    40.0
5     NaN
dtype: float64

In [40]:
ijkl

0     19
1     11
2     11
3      6
4      3
5     13
6     21
7     12
8     12
9     19
10    15
11    19
dtype: int64

In [41]:
ijkl.mean()

13.416666666666666

In [42]:
ijkl.median()

12.5

In [43]:
ijkl.agg(['mean','sum','median'])

mean       13.416667
sum       161.000000
median     12.500000
dtype: float64

In [44]:
ijkl.describe()

count    12.000000
mean     13.416667
std       5.501377
min       3.000000
25%      11.000000
50%      12.500000
75%      19.000000
max      21.000000
dtype: float64

In [45]:
ijkl=ijkl.append(pd.Series([10,20,30],index=[40,50,60]),ignore_index=True)

In [46]:
ijkl[20]=30

In [47]:
ijkl=ijkl.shift(20)

In [48]:
ijkl[0:10]=np.arange(10)

In [49]:
ijkl.count()

10

In [50]:
ijkl['fhjhgg']=35

In [51]:
sun=pd.Series([5,6,7,8,9])

In [52]:
sun.isin([2,3])

0    False
1    False
2    False
3    False
4    False
dtype: bool