In [1]:
# importing pandas library
import pandas as pd

In [2]:
# Create a simple Pandas Series from a list:
import pandas as pd

a = [1, 5, 3]

myvar = pd.Series(a)

print(myvar)

0    1
1    5
2    3
dtype: int64

# create an empty series

In [8]:
#import the pandas library and aliasing as pd
import pandas as pd
s = pd.Series()
print (s)

Series([], dtype: float64)

<ipython-input-8-b7a9e22564c7>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

# Create a Series from ndarray

In [7]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
data = np.array(['apple','ball','cat','dog'])
s = pd.Series(data)
print (s)

0    apple
1     ball
2      cat
3      dog
dtype: object

# Create a Series from dict

In [10]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
data = {'a' : 'america', 'b' : 'africa', 'c' : 'australia'}
s = pd.Series(data)
print (s)

a      america
b       africa
c    australia
dtype: object

# Create a Series from Scalar

In [11]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
s = pd.Series(5, index=[0, 1, 2, 3])
print (s)

0    5
1    5
2    5
3    5
dtype: int64

# Accessing Data from Series with Position

In [14]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve the last three element
print (s[-3:])

c    3
d    4
e    5
dtype: int64

# Retrieve Data Using Label (Index)

In [16]:
# Retrieve multiple elements using a list of index label values.
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve multiple elements
print (s[['a','c','d']])

a    1
c    3
d    4
dtype: int64

# Indexing a Series using indexing operator [] :

In [21]:
import pandas as pd
george = pd.Series([10, 7],
    index=['1968', '1969'],
    name='George Songs')
george

1968    10
1969     7
Name: George Songs, dtype: int64

In [22]:
# .is_unique â€” This is a function that determines whether an index has duplicates.
dupe = pd.Series([10, 20, 30], 
    index=['1', '2', '3'], 
    name='George Songs')
dupe.index.is_unique
george.index.is_unique

True

In [26]:
# using loc
george_dupe = pd.Series([10, 7, 1, 22], 
    index=['1968', '1969', '1970', '1970'], 
    name='George Songs')
george_dupe.at['1970']
george_dupe.loc['1970']

1970     1
1970    22
Name: George Songs, dtype: int64

In [27]:
# using iloc
george.iloc[0:3]
george.iloc[[0,1]]
# both statements above will give the same output

1968    10
1969     7
Name: George Songs, dtype: int64

# Binary Operation on Series

In [28]:
# We can perform binary operation on series like addition, subtraction and many other operation. In order to perform binary operation on series we have to use some function like .add(),.sub() etc..
# importing pandas module  
import pandas as pd  
 
# creating a series
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])
 
# creating a series
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'd', 'e'])
 
print(data, "\n\n", data1)

a    5
b    2
c    3
d    7
dtype: int64

 a    1
b    6
d    4
e    9
dtype: int64