In [1]:
import pandas as pd#importing pandas

In [2]:
import numpy as np#importing numpy

In [3]:
a= np.array([ i for i in range(10)]) #creating an list using numpy of numbers from 0 to 9

In [4]:
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [5]:
a= np.array({ i for i in range(10)})#creating a dictinary od numbers in range 10

In [6]:
a

array({0, 1, 2, 3, 4, 5, 6, 7, 8, 9}, dtype=object)

In [7]:
s2 = pd.Series([1, 2, 3]) #creating a series using panas

In [8]:
s2=s2.astype(np.float) #typecasting s2 to float values

In [9]:
s2

0    1.0
1    2.0
2    3.0
dtype: float64

In [10]:
s2 = pd.Series([1, 2, 3])

In [11]:
s2=s2.astype('int32') #type casting to int32 but withing inverted commas

In [12]:
s2

0    1
1    2
2    3
dtype: int32

In [13]:
data = {'a': "shan", "b":"gucci"} #creating a dictionary named data
series=pd.Series(data) #converting data to  pandas series

In [14]:
series

a     shan
b    gucci
dtype: object

In [15]:
data.update([("c","bag")]) #adding new values too dictionary data using updata

In [16]:
data

{'a': 'shan', 'b': 'gucci', 'c': 'bag'}

In [17]:
series

a     shan
b    gucci
dtype: object

In [18]:
series=pd.Series(data)

In [19]:
series

a     shan
b    gucci
c      bag
dtype: object

In [20]:
new_ser=pd.Series(data=["g","h","i"], index=[1,2,3]) #creating a new series by assigning data and ndex values

In [21]:
new_ser

1    g
2    h
3    i
dtype: object

In [22]:
r = [1, 2]#since its a list, when i make changes in series it will not effct the list by using copy
ser = pd.Series(r, copy=False)
ser

0    1
1    2
dtype: int64

In [23]:
anp = pd.Series(r, copy = True)
anp

0    1
1    2
dtype: int64

In [24]:
ser[0]= 100

In [25]:
r

[1, 2]

In [26]:
ser

0    100
1      2
dtype: int64

In [27]:
m =np.array([3,4])#since its an array the value changes in array even if its assigned to some other variable

In [28]:
ser = pd.Series(m, copy = False)

In [29]:
ser.iloc[0]=100#changing the value of index 0

In [30]:
m

array([100,   4])

In [31]:
h = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }] #this is a list
df = pd.DataFrame(h)#convering h to a dataframe
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [32]:
type(h)#finding the datatype of h

list

In [33]:
type(h[0])

dict

In [34]:
type(df)

pandas.core.frame.DataFrame

In [35]:
type(df.iloc[0])#finding the data

pandas.core.series.Series

In [37]:
df.iloc[1] 
#to find the conTENTS in index 1 IN DATAFRAME

a    100
b    200
c    300
d    400
Name: 1, dtype: int64

In [40]:
df.iloc[[0,1]] #0 and 1 index will be shown

     a    b    c    d
0    1    2    3    4
1  100  200  300  400

In [42]:
df.iloc[0,1] #the element in index 1 of 0th row

2

In [43]:
df.iloc[:3]#prints the three rows and excludes third row by slicing

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [44]:
df.iloc[0:3]

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [46]:
df.iloc[[False, False, True]] #doubt

      a     b     c     d
2  1000  2000  3000  4000

In [55]:
df.iloc[lambda x:x.index //2 == 2]

Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [60]:
pd.Series(["f","a","g"]).values #returns series as array along with its datatype

array(['f', 'a', 'g'], dtype=object)

In [61]:
pd.Series(list('fathima')).values #converts string fathima to list and then converts series to array

array(['f', 'a', 't', 'h', 'i', 'm', 'a'], dtype=object)

In [65]:
ar =[1,-2,3,-4.2]
g = pd.Series(ar).abs()

In [66]:
g# abs() returns absolute numeric value

0    1.0
1    2.0
2    3.0
3    4.2
dtype: float64

In [67]:
g= g.astype(int).abs()

In [68]:
g

0    1
1    2
2    3
3    4
dtype: int32

In [70]:
a = pd.Series([1, 1, 1, np.nan], ['a', 'b', 'c', 'd'])

In [71]:
a

a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64

In [75]:
a = pd.Series([1, 1, 1,np.nan], ['a', 'b', 'c', 'd'])

In [77]:
a #creating a series with a nan value

a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64

In [86]:
b= pd.Series([1,2,3,4] , ["a","b","c","d"])

In [87]:
b

a    1
b    2
c    3
d    4
dtype: int64

In [89]:
c =a.add(b,fill_value=0)#adds two variables a nd b by replacing  nan value as 0

In [90]:
c

a    2.0
b    3.0
c    4.0
d    4.0
dtype: float64

In [91]:
a+c

a    3.0
b    4.0
c    5.0
d    NaN
dtype: float64

In [93]:
a = pd.Series([1,2,3,4,5],index = (0,1,2,3,4))

In [94]:
a.add_prefix("sl.no") #adding sl.no as prefix to index

sl.no0    1
sl.no1    2
sl.no2    3
sl.no3    4
sl.no4    5
dtype: int64

In [95]:
#to create a dataframe
s=({"fist_set":[1,2,3,4],"second_set":[5,6,7,8]})
pd.Series(s) #this is to create a dataframe using a dictionary

fist_set      [1, 2, 3, 4]
second_set    [5, 6, 7, 8]
dtype: object

In [99]:
g=pd.DataFrame(s) #therefore created  adatafarame

In [101]:
g.add_suffix(" numbers")

   fist_set numbers  second_set numbers
0                 1                   5
1                 2                   6
2                 3                   7
3                 4                   8

In [103]:
#using aggregare we cn find both or many functions together
g.agg([min,max])
#ou can also use this for seriess

     fist_set  second_set
min         1           5
max         4           8

In [104]:
d = pd.DataFrame({'col1': [True, True], 'col2': [True, False]})
d

   col1   col2
0  True   True
1  True  False

In [105]:
d.all()

col1     True
col2    False
dtype: bool

In [106]:
d.any()

col1    True
col2    True
dtype: bool

In [108]:
d.all(axis = 'columns')

0     True
1    False
dtype: bool

In [110]:
d.all(axis='rows')

col1     True
col2    False
dtype: bool

In [113]:
d.all(axis = None) #to check if every value in a data fraam is true

False

In [114]:
d = pd.Series([2,3,5,6])
r=pd.Series([3,10,5,6])
d.append(r) #appends r to d but the indexes are shuffeled to solve this

0     2
1     3
2     5
3     6
0     3
1    10
2     5
3     6
dtype: int64

In [118]:
r=pd.Series([3,10,5,6],index=[3,4,5,6])
d.append(r)

0     2
1     3
2     5
3     6
3     3
4    10
5     5
6     6
dtype: int64