In [1]:
import pandas as pd
import numpy as np

In [2]:
a=['Name', 'Age','Degree']
b=['Sonika', 21,'B.E']

In [3]:
s1=pd.Series(data=b,index=a)

In [4]:
s1

Name      Sonika
Age           21
Degree       B.E
dtype: object

In [5]:
s1.values

array(['Sonika', 21, 'B.E'], dtype=object)

In [6]:
s1[0]

'Sonika'

In [7]:
s1[:2]

Name    Sonika
Age         21
dtype: object

In [8]:
s1[:3]

Name      Sonika
Age           21
Degree       B.E
dtype: object

In [9]:
pd.Series([1,2,3,4,5]).array

<PandasArray>
[1, 2, 3, 4, 5]
Length: 5, dtype: int64

In [10]:
{i:j for i,j in zip(a,b)}

{'Name': 'Sonika', 'Age': 21, 'Degree': 'B.E'}

In [11]:
pd.Series([2,4,6,8]).values

array([2, 4, 6, 8], dtype=int64)

In [12]:
son=pd.Series([1,2,3,4,5,6])

In [13]:
son

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [14]:
son.astype('int64')

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [15]:
ss=pd.Series(index=['Name','USN','College'], data=['Riya','4GL18CS001','GECK'])

In [16]:
ss

Name             Riya
USN        4GL18CS001
College          GECK
dtype: object

In [17]:
ss.loc['USN']

'4GL18CS001'

In [18]:
ab=pd.Series([i for i in range(5)], index=[5,7,3,8,9])

In [19]:
ab.sort_values(ascending=False)

9    4
8    3
3    2
7    1
5    0
dtype: int64

In [20]:
ab.sort_index(inplace=True)

In [21]:
ab

3    2
5    0
7    1
8    3
9    4
dtype: int64

In [22]:
cc=pd.Series([i for i in range(300)])

In [23]:
cc

0        0
1        1
2        2
3        3
4        4
      ...
295    295
296    296
297    297
298    298
299    299
Length: 300, dtype: int64

In [24]:
cc=pd.Series(["element_"+str(i) for i in range(300)])

In [25]:
cc

0        element_0
1        element_1
2        element_2
3        element_3
4        element_4
          ...
295    element_295
296    element_296
297    element_297
298    element_298
299    element_299
Length: 300, dtype: object

In [26]:
cc.loc[5:20]

5      element_5
6      element_6
7      element_7
8      element_8
9      element_9
10    element_10
11    element_11
12    element_12
13    element_13
14    element_14
15    element_15
16    element_16
17    element_17
18    element_18
19    element_19
20    element_20
dtype: object

In [27]:
cc[100]

'element_100'

In [28]:
ab

3    2
5    0
7    1
8    3
9    4
dtype: int64

In [29]:
ab*5

3    10
5     0
7     5
8    15
9    20
dtype: int64

In [30]:
score=[round(i) for i in np.random.random(10)*50]

In [31]:
score=pd.Series(score)

In [32]:
score>20

0     True
1    False
2     True
3    False
4     True
5    False
6    False
7     True
8     True
9    False
dtype: bool

In [33]:
indices = score>20

In [34]:
score[indices]

0    38
2    43
4    28
7    47
8    26
dtype: int64

In [35]:
a=pd.Series([1,2,3,4,5])

In [36]:
b=pd.Series([1,2,3,4,5,6])

In [37]:
a+b

0     2.0
1     4.0
2     6.0
3     8.0
4    10.0
5     NaN
dtype: float64

In [38]:
a-b

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    NaN
dtype: float64

In [39]:
a*b

0     1.0
1     4.0
2     9.0
3    16.0
4    25.0
5     NaN
dtype: float64

In [40]:
score

0    38
1    15
2    43
3     9
4    28
5     4
6    12
7    47
8    26
9     3
dtype: int64

In [41]:
score.mean()

22.5

In [42]:
score.median()

20.5

In [43]:
score.agg(['mean','sum','median'])

mean       22.5
sum       225.0
median     20.5
dtype: float64

In [44]:
score.describe()

count    10.000000
mean     22.500000
std      16.242947
min       3.000000
25%       9.750000
50%      20.500000
75%      35.500000
max      47.000000
dtype: float64

In [45]:
score=score.append(pd.Series([10,25,60],index=[50,60,70]),ignore_index=True)

In [46]:
score[31]=40

In [47]:
score=score.shift(10)

In [48]:
score[0:10]=np.arange(10)

In [49]:
score

0      0.0
1      1.0
2      2.0
3      3.0
4      4.0
5      5.0
6      6.0
7      7.0
8      8.0
9      9.0
10    38.0
11    15.0
12    43.0
31     9.0
dtype: float64

In [50]:
score.count()

14

In [51]:
score['ajhffj']=43

In [52]:
ser=pd.Series([1,2,3,4,5,6])

In [53]:
ser.isin([1,2])

0     True
1     True
2    False
3    False
4    False
5    False
dtype: bool